version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.18.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Build
          command: |
            yarn run build
            yarn run test:ci
      - run:
          name: SonarQube Analysis
          command: |
            sonar-scanner \
              -Dsonar.host.url=$SONARQUBE_URL \
              -Dsonar.projectKey=$SONARQUBE_PROJECT_KEY \
              -Dsonar.projectName=sonarqube-manual \
              -Dsonar.sources=.
workflows:
  version: 2
  build_and_analyze:
    jobs:
      - build
