version: 2.1



jobs:

  sonar:
    working_directory: ~/sonarqube101
    docker:
      - image: reactnativecommunity/react-native-android
    steps:
      - checkout
      - attach_workspace:
          at: ~/sonarqube101

      - sonarcloud/scan:
          sonar_token_variable_name: $SONARQUBE_TOKEN

  android:
    working_directory: ~/sonarqube101
    docker:
      - image: reactnativecommunity/react-native-android
    steps:
      - checkout
      - run: npx envinfo
      - run: yarn install

      - run: cd android && chmod +x gradlew && ./gradlew --no-daemon bundleRelease assembleRelease
      - run: cd android/app/build/outputs/apk/release && ls && pwd
      - store_artifacts:
          path: android/app/build/outputs/bundle/release
          destination: release-aab/
      - store_artifacts:
          path: android/app/build/outputs/apk/release
          destination: release-apk/


orbs:
  sonarqube: syneki/sonarqube@1.0.1

  
workflows:
  version: 2
  build_and_test:
    jobs:
      - android
      

env:
  SONARQUBE_TOKEN: sqp_65c7d89595ade54f5c27bb0270f86b1f77a36487