version: 2.1



jobs:

  sonarqube:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run: npm install
      - run: npm run test -- --coverage
      - run:
          name: Analyze with SonarQube
          command: |
            curl --fail -X POST \
              -H 'Content-Type: application/x-www-form-urlencoded' \
              -d "projectKey=sonarqube-manual" \
              -d "projectName=sonarqube-manual" \
              -d "sonar.sources=." \
              -d "sonar.host.url=https://sonarqube.alpha.blr.gluestack.app"
             

workflows:
  build-and-test:
    jobs:
      - sonarqube

env:
  SONARQUBE_TOKEN: sqp_cefbc7a1d8cd303c22f728512efbd5981a6ef2ed